.widget {
    border-radius: 8px;
    padding: 100px 88px;
    width: 345px;
    height: 280px;
    background: #fff;
}

div>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.change-color {
    border-radius: 8px;
    border-style: none;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.change-color:hover {
    background: #6c8cff;
}